#main_body {
    height: 100vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    box-sizing: border-box;
    overflow: hidden;
}

.top {
    height: 70px;
    /* border: 1px solid red; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    background: #37BAE2;
}

.bottom {
    height: 60px;
    background-color: #683edd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid;
    box-sizing: border-box;
}

.content {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    height: calc(100vh - 135px);
    overflow-y: scroll;
}

.app_content_body {
    padding: 10px;
    /* border: 1px solid red; */
    height: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    /* overflow-y: scroll; */
    text-align: justify;
}

.app_content {
    /* overflow-y: scroll; */
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5c4f4f;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.top_content {
    /* border: 1px solid pink; */
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    box-sizing: border-box;

}

.top_content .left {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;

}

/* .top_content .left a {} */

.top_content .left a i {
    color: white;

}

.top_content .mid {
    flex: 1;
    padding: 5px 10px;

}

.top_content .mid form {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_content .mid form input {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    padding: 5px 10px;
    height: 80%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 20px;
}

.top_content .mid form button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
}


.top_content .right {
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 60px;
}

.top_content .right i {
    font-size: 25px;
    color: white;
}
.toggle_body{
    position: relative;
}

#toggle {
    width: 200px; 
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: -200%;
    background: white;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, .09);
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
#toggle.toggle_nav_show {
    visibility: visible; 
    opacity: 1;
    left: 0px;
    top: 100%;
    z-index: 1000;
}
/* .toggle_nav_show {
    visibility: visible !important; 
    opacity: 1 !important;
    left: 0px !important;
    top: 100% !important;
    z-index: 1000 !important;
} */

#toggle li {
    padding: 8px 0px;
    border-bottom: 1px solid #000;
}

#toggle li:last-child {
    border-bottom: none;
}



#toggle li a {
    display: block;
    color: rgb(3, 179, 179);
}

#toggle li:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.pop_up {
    position: relative;
}

.pop_up_nav_links_body {
    width: 250px;
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    right: -200%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, .09);
    padding: 10px;
    margin-right: 3%;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.nav_show {
    visibility: visible;
    opacity: 1;
    right: 0px;
    top: 100%;
    z-index: 1000;
}



.pop_up_nav_links li {
    padding: 10px;
    display: flex;
    /* border: 1px solid pink; */
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(0, 255, 221, 0.486);
}

.pop_up_nav_links li:hover {
    border-bottom: 1px solid rgba(221, 144, 0, 0.863);
}

.pop_up_nav_links li i {
    padding: 5px;
    padding-right: 15px;
    color: rgba(0, 0, 0, .6);
    cursor: pointer;
}

.pop_up_nav_links li a {
    padding: 5px;
    color: rgba(0, 0, 255, 0.7);
}

.bottom .nav_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    line-height: 15px;
}

/* .bottom .nav_links li {
    
} */

.bottom .nav_links li a {
    display: block;
    text-align: center;
    color: white;

}

.bottom .nav_links li a:hover {
    color: #000;
}


.bottom .nav_links li i {
    padding: 5px;
    display: block;
    font-size: 18px;
}

.bottom .nav_links li span {
    display: block;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

@media (min-width: 576px) {
    #main_body {
        width: 575px;
        margin: 1vh auto;
        background: #ffffff21;
        height: 98vh;
        border-radius: 5px;
        backdrop-filter: blur(6px);
        box-sizing: border-box;
    }

    #main_body .top {
        background-color: #3fbde456
    }

    #main_body .bottom .nav_links {
        padding: 5px 20px;
    }

    body {
        background-image: url('https://miro.medium.com/max/1050/1*M43BfNUcYwowp-MTQ_si5A.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .app_content .sliderButton {
        color: #000;
    }
}